DB_HOST=127.0.0.1
DB_USER=postgres
DB_PWD=admin
DB_NAME=task_tracker
DB_PORT=5432
ASSEMBLY_API_KEY=14695ef4e86d44aeb262b577aee2e798
ASSEMBLY_API_UPLOAD_URL=https://api.assemblyai.com/v2/upload
ASSEMBLY_API_TRANSCRIPT_URL=https://api.assemblyai.com/v2/transcript
